*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --clr-blak: rgb(18, 23, 27);
    --clr-wit: rgb(255, 255, 255);
    --clr-grn: rgb(66, 245, 131);
}
body{
    /* line-height: 1.6; */
    background-color: var(--clr-blak);
}
.card_container{
    width: 80%;
    margin: 25px 11%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    min-height: 100vh;
}
.card{
    color: var(--clr-wit);
    background-size: cover;
    background-position: center;
    width: 225px;
    padding: 120px 0 0;
    border-radius: 5px;
    overflow: hidden;
    transition: transform ease 500ms;
    max-height: 281px;
}
.card_1{
   background-image: url(./img/links.png); 
}
.card_2{
    background-image: url(./img/table.png);
}
.card_3{
    background-image: url(./img/review.png);
}
.card_4{
    background-image: url(./img/smit.png);
}
.card_5{
    background-image: url(./img/sign.png);
}
.card_6{
    background-image: url(./img/apple.png);
}
.card_7{
    background-image: url(./img/saylani.png);
}
.card_8{
    background-image: url(./img/snipping.png);
}
.card:hover{
    transform: scale(1.1);
}
.card_content{
    --padding: 15px;
    background-image: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / .3) 20%, hsl(0 0% 0% / 1));
    padding: var(--padding);
    transform: translateY(68%);
    transition: transform ease 500ms;
}
.card:hover .card_content, .card:focus-within{
    transform: translateY(0);
    transition-delay: 350ms;
}
.card_content > *:not(.card_title){
    opacity: 0;
    transition: opacity 0.3s linear;
}
.card:hover .card_content > *:not(.card_title), .card:focus-within .card_content > *:not(.card_title){
    transition-delay: 500ms;
    opacity: 1;
}
.card_body{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 7px;
}
.card_title{
    position: relative;
    width: max-content;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}
.card_title::after{
    content: "";
    position: absolute;
    left: calc(var(--padding) * -1);
    bottom: 0;
    height: 3px;
    width: calc(100% + var(--padding));
    background-color: var(--clr-grn);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform ease 350ms;
}
.card:hover .card_title::after{
    transform: scaleX(1);
}
.button{
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: var(--clr-blak);
    background-color: var(--clr-grn);
    padding: 5px 25px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}
.button:hover, .button:active{
    background-color: var(--clr-wit);
}